@page
@model RazorPagesCampaign.Pages.Campaigns.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Campaign</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Campaign.Id" />
            <div class="form-group">
                <label asp-for="Campaign.Name" class="control-label"></label>
                <input asp-for="Campaign.Name" class="form-control" />
                <span asp-validation-for="Campaign.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campaign.BidAmount" class="control-label"></label>
                <input asp-for="Campaign.BidAmount" class="form-control" />
                <span asp-validation-for="Campaign.BidAmount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Campaign.Status" /> @Html.DisplayNameFor(model => model.Campaign.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Campaign.Town" class="control-label"></label>
                <input asp-for="Campaign.Town" class="form-control" />
                <span asp-validation-for="Campaign.Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campaign.Radius" class="control-label"></label>
                <input asp-for="Campaign.Radius" class="form-control" />
                <span asp-validation-for="Campaign.Radius" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
